<!DOCTYPE HTML>
<html>
<head>
  <title>Equation Builder</title>

  <script src="//js.leapmotion.com/leap-0.6.3.min.js"></script>
  <script src="/javascripts/vis.js"></script>
  <script src="/javascripts/jquery-1.11.1.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="/javascripts/myojs-0.8.18.js"></script>
  <link href="/stylesheets/vis.css" rel="stylesheet" type="text/css" />

  <style type="text/css">
    body, html {
      font-family: sans-serif;
    }
  
  </style>
</head>
<body>


<div id="Problem"></div>
<div id = "iterations"></div>
<div id = "value"></div>





<script type="text/javascript">
var max = 8;
  var min = 0;
  var hasSimplified;
  var hidden;
  var currPos;
  var currStack = 0;
  var currItrOverValues = 0;
  var solution;
  var muliplicant1, multiplicant2, additive, result;
  var currMuliplicant1, currMultiplicant2, currAdditive, currResult, multiResult;
         var handWasHere = false; 
        var controller = new Leap.Controller({
                         enableGestures: true,
                         frameEventName: 'animationFrame'
                         });

        controller.on("frame", function(frame) {
          var hand = frame.hands[0];
          if(hand)
          {
            
            var finger = hand.fingers[0].finger;
            if( finger == true && handWasHere == false)
            {
              addToStack();
              console.log("I HAVE A FINGER ......");
              handWasHere = true;
            }
            

          }
          else{

            handWasHere = false;
            console.log("Where is your finger?");
          }
        });

        controller.connect();

        var hub = new Myo.Hub();

        hub.on('ready', function() {
            console.log("ready");
        });
        hub.on('connect', function() {
            console.log("connected!");
        });
        hub.on('frame', function(frame) {
             if(frame.pose.valid)
            {
              console.log(frame.pose.type);
              if(frame.pose.type== 2)
              {
                 push();
              }
              else if(frame.pose.type==1)
              {
                answer();
              }
            }
            
        });
        hub.on('disconnect', function() {
            console.log("disconnect");
        });

  

  
  
  $( document ).ready(function() { 
  
    getDigits();
    drawProblem();
  });
  
  
  
function drawProblem()
{


  if(hidden == 1)
    {
      $("#Problem").empty().append("<p> (X)" +  currMultiplicant2.toString() + " + " + currAdditive.toString() + " = " + currResult.toString() + "  </p>");
    }
     else if(hidden == 2)
    {
      $("#Problem").empty().append("<p> " +  currMuliplicant1.toString() + "(X) + " + currAdditive.toString() + " = " + currResult.toString() + "  </p>");
    }
   else if(hidden == 3)
    {
      $("#Problem").empty().append("<p> " + currMuliplicant1.toString() + " *  " +   currMultiplicant2.toString() + " + (X) = " + currResult.toString() + "  </p>");
    }



    }
  
  function subtract(){
    if(hidden==3 && hasSimplified == false)
    {
      alert("This isn'the right way, you need to isolate the X, first try simplifying the multiplication");
    }
    else if(hidden==3 && hasSimplified == true)
      {    
          multiResult --;
          currResult--;
          if(multiResult == 0)
          {
            alert("You've found the equality x is equal to " + currResult.toString());
          }

         }



  }

  
  function answer()
  {

  } 

  function getDigits()
  {
      
      muliplicant1 = Math.floor(Math.random() * (max - min)) + min;
      multiplicant2 = Math.floor(Math.random() * (max - min)) + min;
      additive = Math.floor(Math.random() * (max - min)) + min;
      solution = muliplicant1*multiplicant2 + additive;
      hidden = Math.floor(Math.random() * (4- 1)) + 1;
      currMuliplicant1 = muliplicant1;
      currMultiplicant2 = multiplicant2;
      currAdditive = additive;
      currResult = solution;
      hasSimplified = false;
      console.log(hidden);
   }
    
 
  


</script>
</body>
</html>
