doctype html
html(ng-app="simplimy")
  head
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js",type="application/javascript")
    script(src="app/app.js",type="application/javascript")
    script(src="app/controllers.js",type="application/javascript")
    script(src="app/directives.js",type="application/javascript")
  body
    div(ng-view)
		p(class="partial-hello") Hello, Angular!
		p(class="model-hello") {{message}}

