<!DOCTYPE HTML>
<html>
<head>
  <title>Timeline basic demo</title>

  <script src="/javascripts/vis.js"></script>
  <script src="/javascripts/jquery-1.11.1.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <link href="/stylesheets/vis.css" rel="stylesheet" type="text/css" />

  <style type="text/css">
    body, html {
      font-family: sans-serif;
    }
    #visualization{
      pointer-events: none;


    }
  </style>
</head>
<body>
<div id="visualization"></div>
<button type="button"  onclick="left()">Left</button>
<button type="button"  onclick="right()">Right</button>
<script type="text/javascript">

  var sox = io.connect('http://localhost');
  sox.on('connect', function(socket)
  {
      sox.emit('unlock',{value : false});
      // executeMyo();
  });


    sox.on('movement', function(data)
    {
      console.log(data);
    });

  // DOM element where the Timeline will be attached
  var container = document.getElementById('visualization');

  // Create a DataSet (allows two way data-binding)
  var data = new vis.DataSet([
    {id: 0, content: '0', start: '2013-03-31'},
    {id: 1, content: '1', start: '2013-04-01'},
    {id: 2, content: '2', start: '2013-04-02'},
    {id: 3, content: '3', start: '2013-04-03'},
    {id: 4, content: '4', start: '2013-04-04'},
    {id: 5, content: '5', start: '2013-04-05'},
    {id: 6, content: '6', start: '2013-04-06'},
    {id: 7, content: '7', start: '2013-04-07'},
    {id: 8, content: '8', start: '2013-04-08'},
    {id: 9, content: '9', start: '2013-04-09'},
    {id: 10, content: '10', start: '2013-04-10'}

  ]);

    // Configuration for the Timeline
  var options = {};

  var currPos = 1;


  // Create a Timeline
  var timeline = new vis.Timeline(container, data, options);

  $( document ).ready(function() {
  $(".vispanel.bottom").css('display', 'none');

  });
  function left(){
    if(currPos>0){
    currPos -= 1;
    drawSelect();
  }
  else
    alert("You have reached the end of the line, literally we can't go any further!");
  }
  function right(){
    if(currPos<10){
    currPos+= 1;
    drawSelect();
    }
    else
        alert("You have reached the end, look there's no more try going the other way. :) ");
  }
  function drawSelect()
  {
    $('.content').each(function(i)
  {
      if($(this).text() == currPos.toString())
      {        // found element;
        // doo stuff && break;
        $(this).parent().addClass("selected");
      }
      else if($(this).parent().hasClass("selected"))
      {
        $(this).parent().removeClass("selected");


      }
  });


  }


</script>
</body>
</html>
