<!DOCTYPE HTML>
<html>
<head>
  <title>Subtraction</title>

  <script src="/javascripts/vis.js"></script>
  <script src="/javascripts/jquery-1.11.1.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="/javascripts/myojs-0.8.18.js"></script>
  <link href="/stylesheets/vis.css" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" />

  <style type="text/css">
    @import url(http://fonts.googleapis.com/css?family=Fredericka+the+Great);
    body {
      text-align: center;
    }

    h1{
      font-family: 'Fredericka the Great', cursive;
      font-weight: 400;
      font-size: 3em;
    }
    #visualization{
      pointer-events: none;


    }
  </style>
</head>
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Simplimy</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a href="#">About</a>
                  </li>
                  <li>
                      <a href="#">Services</a>
                  </li>
                  <li>
                      <a href="#">Contact</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>

  <p>&nbsp;</p><p>&nbsp;</p>
    <div class="content-section-a">
      </br>
        <div class="alert alert-success" role="alert"></div>
        <div class="container" id="block1">
          <h1 style="font-size: 125px;"><span class="problem" style="color:#2a80b9;"></span></h1>
      </div>
    </div>
  <p>&nbsp;</p><p>&nbsp;</p>

    <div class="content-section-b">
      <div class="container">
        <div id="visualization"></div>
      </div>
    </div>


<script type="text/javascript">

        var hub = new Myo.Hub();

        hub.on('ready', function() {
            console.log("ready");
        });
        hub.on('connect', function() {
            console.log("connected!");
        });
        hub.on('frame', function(frame) {
             if(frame.pose.valid)
            {
              console.log(frame.pose.type);
              if(frame.pose.type==3)
                {right();}
              else if(frame.pose.type==2)
              {
                left();
              }
              else if(frame.pose.type==1)
              {
                answer();
              }
              else if(frame.pose.type==0 && reset == 2)
              {

                getDigits();
              }
              else if(frame.pose.type==0)
              {
                reset  ++;

              }
              else
              {
                reset = 0;
              }

            }

        });
        hub.on('disconnect', function() {
            console.log("disconnect");
        });

  // DOM element where the Timeline will be attached
  var container = document.getElementById('visualization');

  // Create a DataSet (allows two way data-binding)
  var data = new vis.DataSet([
    {id: 0, content: '0', start: '2013-03-31'},
    {id: 1, content: '1', start: '2013-04-01'},
    {id: 2, content: '2', start: '2013-04-02'},
    {id: 3, content: '3', start: '2013-04-03'},
    {id: 4, content: '4', start: '2013-04-04'},
    {id: 5, content: '5', start: '2013-04-05'},
    {id: 6, content: '6', start: '2013-04-06'},
    {id: 7, content: '7', start: '2013-04-07'},
    {id: 8, content: '8', start: '2013-04-08'},
    {id: 9, content: '9', start: '2013-04-09'},
    {id: 10, content: '10', start: '2013-04-10'}


  ]);

    // Configuration for the Timeline
  var options = {};




  // Create a Timeline
  var timeline = new vis.Timeline(container, data, options);
  var max = 10;
  var min = 0;
  var digit1;
  var digit2;


  var currPos;
  var solution;

  $( document ).ready(function() {
  $(".vispanel.bottom").css('display', 'none');
    getDigits();
    drawSelect();
  });
  function left(){
    if(currPos>0){
    currPos -= 1;
     drawSelect();
  }
  else
    $(".alert-success").remove().html("You have reached the end of the line, literally we can't go any further!");
    
  }
  function right(){
    if(currPos<10){

    currPos+= 1;


    drawSelect();
    }
    else
        $(".alert-success").remove().html("You have reached the end, look there's no more try going the other way. :)");
       
        
  }

  function answer()
  {

    if(currPos == solution)
      {
        $(".problem").html(digit1.toString() + " - "   + digit2.toString() +  " = "+ solution );
       
       $(".alert-success").remove().html("You got it!, congratulations open your hand for a new question");
       
        }else
          $(".alert-success").remove().html("You sort of missed the mark, try again or open your hand for a new question");


  }

  function getProblemType()
  {

    var type = $("input:radio[name=problemType]:checked").val();

      return type;

  }

  function drawSelect()
  {
    $('.content').each(function(i)
  {
      if($(this).text() == currPos.toString())
      {
        $(this).parent().addClass("selected");
      }
      else if($(this).parent().hasClass("selected"))
      {
        $(this).parent().removeClass("selected");


      }
    });


  }
  function getDigits()
  {
      digit1 = Math.floor(Math.random() * (max - min)) + min;
      digit2;

      while(true)
      {
         digit2 = Math.floor(Math.random() * (max - min)) + min;
         if(digit1-digit2 >= 0)
       {
         break;
         }

      }
      currPos = digit1;
      solution = digit1 - digit2;
      $(".problem").html(digit1.toString() + " - "   + digit2.toString() +  " = ?");
       drawSelect();
  }


</script>
</body>
</html>
